.hotnewsbackground{
  /* For modern browsers */
  background: #020607;
padding: 2%;
margin-top: 2%;
padding-bottom: 0%;
}
.slide-left {
  animation: slideLeft 0.5s ease-out;
  opacity: 1; /* Start with opacity 1 */
}

@keyframes slideLeft {
  from {
    opacity: 0; /* Start with opacity 0 */
    transform: translateX(100%);
  }
  to {
    opacity: 1; /* End with opacity 1 */
    transform: translateX(0);
  }
}
.slide-right {
  animation: slideRight 0.5s ease-out;
  opacity: 1; /* Start with opacity 1 */
}

@keyframes slideRight {
  from {
    opacity: 0; /* Start with opacity 0 */
    transform: translateX(-100%);
  }
  to {
    opacity: 1; /* End with opacity 1 */
    transform: translateX(0);
  }
}
.hot-news-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "saira";
    width: 100%;
}
.hot-news-title h4{
  color: #aa076b;
padding: 2%;
  flex-grow: 1%;
  cursor: pointer;
  
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 90%;
  gap: 16px;
}
.newsTitle{
  font-family: "saira";
}
.newsContent{
  font-family: "saira";
}

.card {
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 18px 36px -18px 
  rgba(0,0,0,0.1),
  0px 30px 45px -30px rgba(50,50,93,0.25);
  background-color: #14171B;
  cursor: pointer;
  width: 100%;
  flex-basis: 330px;
  padding: 4px;
  min-height: 500px;
  transition: all 0.2s ease-in-out;
  color: white;
  padding: 1.5%;
}

.content > h1 {
  font-size: 32px;
  margin-bottom: 16px;
  line-height: 1.384615385;
}

.content > p {
  font-size: 18px;
  line-height: 1.55;
  font-weight: 500;
}
.newsDate{
  color: #aa076b;
  font-family: "saira";
}
.content a {
  color: #aa076b;
  text-decoration: none;
  font-weight: 800;
}

.content a:hover {
  color: #aa076b;
}

.card-background {
  height: 200px;
  transition: all 0.2s ease-in-out;
}

.card:hover .card-background {
  height: 160px;
}

.card-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover .action-bottom-bar a {
  opacity: 1;
}

.action-bottom-bar {
  display: flex;
  font-size: 18px;
  height: 42px;
  width: 100%;
}
.action-bottom-bar a {
  display: flex;
  gap: 6px;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 800;
  opacity: 0;
  padding: 0 24px;
  transition: all 0.2s ease-in-out;
}

.action-bottom-bar a:hover {
  color: #aa076b;
}

.action-bottom-bar a:hover svg {
  color: var(--secondary);
}

.action-bottom-bar a svg {
  transition: all 0.2s ease-in-out;
}

.arrow {
  display: none;
}

.action-bottom-bar a:hover .arrow {
  display: block;
}

.action-bottom-bar a:hover .chevron {
  display: none;
}
.newsPicture{
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}
.docker-container{
  align-items: center;
  justify-content: center;
  width: auto;
  background: rgba(0, 0, 0, 0.075);
  backdrop-filter: blur(10px);
  padding: 20px 30px;
 
  border-radius: 5px;
}

ul{
  display: inline-flex;
  list-style: none;
  
}

.newsList li{
  margin: 0 10px;
  background-color: #4948486d;
  backdrop-filter: blur(10px);
  color: #aa076b;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.newsList li.active{
  background: #aa076b;
  color: #fff;
}

.newsBotton{
  background: transparent;
  cursor: pointer;
  color: #aa076b;
  border: 2px solid #aa076b;
  padding: 10px;
  border-radius: 5px;
}

.btn1{
margin-right: 20px;
}

.btn2{
margin-left: 20px;
}

.newsBotton i{
margin: 0 4px;
}
.hotnews-up{
  text-align: center;
  font-style: normal;
  font-family: poppins;
  color: #aa076b;
}
@media (max-width: 1023px) {
  .btn1{
    margin-bottom: 1rem;
  }
  .newsList{
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .hot-news-title{
flex-wrap: wrap;
  }
  .docker-container{
    display: flex;
flex-wrap: wrap;
  }
  .newsList{
    display: flex;
    flex-wrap: wrap;
  }
  .container{
  padding: 10%;
  }

.newsList .link{
  margin: 1%;
}
.btn1{
  margin-bottom: 1rem;
}
}
/* .container{
  visibility: hidden;
  opacity: 0;
  transform: translateY(100px);
  transition: transform 1s, opacity 1s;
}
.container article:nth-child(1) {
  --index : 1;
}

.container article:nth-child(2) {
  --index : 2;

}

.container article:nth-child(3) {
--index : 3;
}
.container article{
  transition-delay: calc(var(--index) * 300ms);
}
.container.animate{
visibility: visible;
opacity: 1;
transform: translateY(0px);
} */
/* #c33764 → #1d2671 */
/* #aa076b → #61045f */
/* #000428 → #004e92 */