@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500;1,600&family=Oxygen:wght@300;700&family=Poppins:wght@800&display=swap');
:root {
  --text-dark: hsl(240, 54%, 15%);
  --text-light: hsl(242, 18%, 64%);
  --primary: hsl(222, 98%, 60%);
  --primary-lighter: hsl(240, 33%, 86%);
  --primary-gradient: linear-gradient(to right, #3671fd, #6f31ff);
}
.login-description{
padding: 10%;
padding-top: 10%;
padding-bottom: 15%;
}

.login-introduction{
  font-family: "poppins"
;
color: #451952;
font-weight: 700;
}
.loginFlex{
  display: flex;
  flex-direction: row;
  flex-direction: column;
  padding-top: 7%;
  padding-bottom: 7%;
  justify-content: center;
  justify-items: center;
  padding-left: 12%;
  padding-right: 12%;
  margin-top: 2%;
}
.loginButton{
  margin-top: 3%;
  padding: 2%;
  background-color: #451952;
  color: white;
  border: none;
  line-height: 30px;
  outline: none;
  font-size: 18px;
  letter-spacing: .025em;
  text-decoration: none;
  font-weight: 800;
  min-height: 60px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.15);
  transition: all 0.3s ease;
}
.loginButton:active{
  transform: scale(0.95);
}
.loginInput{
  padding: 1.5%;
  color: var(--secondary);
  font-size: 16px;
  font-weight: 500;
  max-width: 100%;
  width: 100%;
  border: 0.5px solid black;
  height: 50px;
  letter-spacing: .03rem;
  background-color: transparent;
  outline: none;
  transition: .25s;
  border-radius: 5px;
  text-indent: 20px;
  margin-top: 4px;
}
.divider-second{
  margin-top: 5%;
  color: black;
}
#greeting{
  text-align: center;
}
.input-class{
  margin-top: 2%;
  margin-bottom: 2%;
  position: relative;
}
.input-class svg, .eyeIcon{
  position: absolute;
  right: -2px;
  bottom: -4px;
  width: 30px;
  height: 30px;
  transform: translate(-50%,-50%);
  transform-origin: center;
}
.second-login-heading{
font-family: "poppins";
font-weight: 900;
color: #100034;
font-size: 3rem;
}
.google-login-svg{
  width: 5%;
}
.google-login{
  background-color: #f0f2f5;
  padding: 0.65rem 0;
  border-radius: 0.5rem;
  border: 2px solid var(--primary-lighter);
  margin-top: 1%;
  font-weight: 500;
}
#greeting{
  color: var(--primary-lighter);
}
.codak{
margin-top: 0%;
}
.socials-row {
  display: flex;
  gap: 16px;
  margin-top: 2%;
}
.socials-row img {
  width: 20px;
  height: 20px;
}

.useFacebook, .useApple {
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  min-height: 30px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 1rem;
  color: var(--text);
  padding: 8px;
  border: 1.5px solid var(  --primary-lighter);
  font-weight: 700;
}
.loginHeading{
  font-family : "Ethnocentric Rg", sans-serif;
  padding-top: 4%;
  padding-left: 4%;
}
.loginHeadingWhite{
  color: white;
  background-color: #100034;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;

}



.login-container{
  height: 100vh;
  width: 100%;
}
.golang-login{
  display: none;
}
.nav-list-second{
  display: none;
}
.nav {
  max-width: 80rem;
  display: flex;
  align-items: center;
  pointer-events: none;
}
.nav:hover {
  pointer-events: auto;
}
.sm-header {
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  pointer-events: auto;
}
.line {
  width: 10rem;
  height: 3px;
  background-color: #451952;
  margin-left: 2rem;
  margin-right: auto;
  transform: scaleX(0.2);
  transform-origin: left;
  transition: transform 0.5s;
}
.nav:hover .line {
  transform: scaleX(1);
}
.nav-list {
  display: flex;
  list-style: none;
}
.nav-item {
  margin-inline: 1rem;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}
.nav-item:nth-child(odd) {
  transform: translateY(5rem);
}
.nav-item:nth-child(even) {
  transform: translateY(-5rem);
}
.nav:hover .nav-item {
  opacity: 1;
  transform: translateY(0);
}
.signup-space{
  display: flex;
  flex-direction: row;
  margin: 0%;
}
.signup-content{
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 15%;
  padding-bottom: 15%;
}
.nav-link {
  font-size: 1.5rem;
}
.nav-list-second{
  display: flex;
  align-content: center;
  list-style: none;
  padding: 2%;
  justify-content: center;
}
.nav-list-second{
  display: none;
}
.login-power a{
 color: #100034;
}
.login-power{
  padding: 2%;
  padding-bottom: 1%;
}
.nav-link i {
  color: #100034;
  transition: color 0.5s;
}
.nav-link:hover i.fa-facebook-f {
  color: #3b5998;
}
.nav-link:hover i.fa-x-twitter {
  color: #1da1f2;
}
.nav-link:hover i.fa-instagram {
  color: linear-gradient(45deg, #405DE6, #FD1D1D, #FDCB52);
  color: red;
}
.nav-link:hover i.fa-telegram {
  color: #0088CC;
}
.nav-link:hover i.fa-linkedin-in {
  color: #0077b5;
}
@media (max-width: 840px) {
  .login-first{
    display: none;
  }
  .golang-login{
    display: block;
  }
  .nav-list-second{
    display:flex;
  }
  }